/* VARIABLES */
$body-color: rgb(33 37 41 / 100%);
$wrap-heigth: 720px;
$gray-darker: rgb(33 37 41 / 100%);
$gray-dark: rgb(33 37 41 / 50%);
$gray-medium: rgb(33 37 41 / 25%);
$gray-light: rgb(33 37 41 / 12%);
$gray-lighter: rgb(33 37 41 / 6%);
$whiteSmoke: #f5f5f5;
$primary: #a41f35;
$red: #a41f35;
$red-black: #730123;

$green: #35a41f;
$blue: #1f35a4;
$gray_blue: #696d87;
